footer.footer.d-flex.flex-lg-row.flex-md-row.flex-sm-column.row
    div.footer__item.col.col-lg-5.col-md-4.col-sm-12
        h2.footer__item__title sign up for our newsletter 
        p Receive new travel stories from Vietnam once a month in your inbox.
        form(action="#", method="post")
            input#header_email(type="email", name="header_email", placeholder="Your email") 
            button.btn__main.btn__main--hover  SIGN UP
    div.footer__item.col.col-lg-3.col-md-4.col-sm-12
        h2.footer__item__title USEFUL LINKS
        ul.list__link 
            li.link__item 
                a(href="http://") Visas for Vietnam 
            li.link__item 
                a(href="http://") Beginner Guide
            li.link__item 
                a(href="http://") FAQs
            li.link__item 
                a(href="http://") Sitemap
            li.link__item 
                a(href="http://") News and Media
            li.link__item 
                a(href="http://") Industry Resources
    div.footer__item.col.col-lg-3.col-md-4.col-sm-12
        h2.footer__item__title FOLLOW US ON
        div.footer__connection
            button.btn__icon.btn--tiktok
                i.fa-brands.fa-tiktok

            button.btn__icon.btn--instagram
                i.fa-brands.fa-instagram

            button.btn__icon.btn--twitter
                i.fa-brands.fa-twitter

            button.btn__icon.btn--youtube
                i.fa-brands.fa-youtube

            button.btn__icon.btn--facebook
                i.fa-brands.fa-square-facebook