header.header 
    nav.header__nav.d-flex.align-items-end
        button.header__nav__item.logo
            img.logo--main(src="./assets/logo.jpg", alt="Vietnam Tourism", srcset="", width="152px", height="116px")    
            img.logo--flex(src="./assets/logo-bgr.png", alt="Vietnam Tourism", srcset="", width="152px", height="116px")    
        button.header__nav__item 
            span Live fully in Vietnam 
        button.header__nav__item 
            span Places to go 
        button.header__nav__item 
            span Things to do 
        button.header__nav__item 
            span Plan your trip 
        button.header__nav__item 
            span Green travel 
        button.header__nav__item 
            span Travel offers 
        button.header__nav__item 
            span EN 
            i.fa-solid.fa-chevron-down
        button.header__nav__item 
            i.fa-solid.fa-magnifying-glass
    video.video-intro(style="width: 100%; height: auto;" autoplay muted)
        source(src="./assets/vietnam.mp4" type="video/mp4")