@import "variable";

@font-face {
  font-family: "VNFGotham"; /* Tên font chữ tùy ý */
  src: url("./src/assets/fonts/VNF-Gotham Book.ttf") format("truetype"); /* Đường dẫn đến file .ttf */
  /* Các kiểu font chữ khác có thể được khai báo tại đây nếu cần (eot, woff, woff2) */
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
a,
button {
  font-family: "VNFGotham", Helvetica, Arial, sans-serif; /* Sử dụng font chữ đã import */
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
}

.hover--under-main:hover {
  text-decoration-line: underline;
  text-decoration-color: $mainColor;
}

.btn__main {
  // background: url('./assets/border__btn.png');
  border: 2px solid $mainColor;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;

  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background: none;

  &:hover {
    border: 2px double $yellow; /* Border thứ nhất */

    background-color: $mainColor;
    color: $white;
  }
}
.btn__main--hover {
  border: 2px double $yellow; /* Border thứ nhất */
  background-color: $mainColor;
  color: $white;
}
.btn--s {
  min-width: 132px;
}
.btn--l {
  min-width: 352px;
}

.contained--children {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
  h2 {
    color: $yellow;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    color: $textColor;
    font-size: 1.3rem;
  }
}
.list-news {
  width: 100%;
}
.list-button {
  width: 100%;
}
.news__item {
  height: 292px;
  width: 100%;
  margin: 10px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 292px;
    transition: all 1s ease;
  }
  &:hover {
    img {
      scale: 1.2;
    }
  }
  .news__item__des {
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: $white;
    text-transform: uppercase;
    text-decoration: none;

    .type {
      background: url(https://vietnam.travel/themes/custom/vietnamtourism/images/bg-red-pattern.png)
        50%;
      background-size: 50px;
      line-height: 33px;
      padding-left: 6px;
      padding-right: 6px;
      margin: 0;
    }
    .title {
      color: $white;
      background-color: rgba($color: $black, $alpha: 0.6);
      width: 100%;
      padding: 8px 12px;
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
.list-event {
  min-height: 400px;
  background: url(https://vietnam.travel/themes/custom/vietnamtourism/images/bg-red-pattern.png) 50%;
  background-size: contain;
  background-origin: border-box;
  padding: 20px;
  .event__item {
    height: 245px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 1s ease;
    }
    &:hover {
      img {
        scale: 1.2;
      }
    }
    .info {
      position: absolute;
      top:0;
      left: 0;
      background-color: rgba($color: $black, $alpha: 0.3);
      padding-left: 20px;
      text-align: left;
      color:$white;
      .date {
        font-size: .9rem;
      }
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
       
      }
    }
  }
}
