section.contained--body 
    section.contained--children.live-fully
        h2 live fully in vietnam 
        p Spectacular nature. Exceptional cuisine. Cultural diversity. Excellent service.
        p Vietnam has fully reopened for international tourism without Covid-19 restrictions (No vaccination certificate, No test requirements, No quarantine, No medical declaration) and restored visa policies and immigration procedures as before Covid-19.
        p Now you are free to discover and enjoy various wild nature destinations like limestone mountains, green terraced rice fields, and white sandy beaches. Holidays are coming, let’s get away from it all.
        p Take in new sights, sounds, and flavors. Enjoy experiences that are truly memorable. Let's explore, relax, and play. Live fully in Vietnam.
    section.contained--children.list-news 
        div.list-button.d-flex.align-items-center.flex-row.justify-content-center
            button.btn__main.btn--s.all(onclick="change('all', this)") all 
            button.btn__main.btn--s.explore(onclick="change('explore', this)") explore
            button.btn__main.btn--s.relax(onclick="change('relax', this)") relax
            button.btn__main.btn--s.play(onclick="change('play', this)") play
        div.container 
            div.row.justify-content-md-center.justify-content-sm-center
                .col.col-lg-6.col-md-12.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/blackpink_1.jpeg?itok=HV9xF9hW", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Are you ready to rock with Born Pink in Hanoi?
                .col.col-lg-3.col-md-6.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/charlie%20puth_1.jpg?itok=nRF0i2m4", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Up all night with Charlie Puth and 8Wonder Music Fest
                .col.col-lg-3.col-md-6.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/z4523093428626_adbc13b9ec9669238837556478b8d088_1.jpg?itok=YFi60blt", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Beautiful train route to the paradise of typical cuisine in Hai Phong
            div.row.justify-content-md-center.justify-content-sm-center
                .col.col-lg-6.col-md-12.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/J7401628_1.jpg?itok=A9YSp28w", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Enjoy bus rides back and forth between T1 and T2 Noi Bai International Airport free of charge!
                .col.col-lg-6.col-md-12.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/BORNPINK_WORLD-TOUR_HANOI_WEB%20%281%29_1.jpg?itok=NpEkPl3z", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Blackpink set to rock in Hanoi this July
    section.contained--children.what-on 
        h2 what's on
        p Check out upcoming events in Vietnam
        div.container
            div.row.list-event 
                div.event__item.col.col-lg-3.col-md-4.col-sm-6
                    img(src="https://vietnam.travel/sites/default/files/styles/event_landing/public/2023-07/blackpink_0.jpeg?itok=wDkarsc9", alt="hi", )
                    span.info
                        span.date  29 Jul 2023 - 30 Jul 2023
                        h5.title Born Pink World Tour Hanoi
                div.event__item.col.col-lg-3.col-md-4.col-sm-6
                    img(src="https://vietnam.travel/sites/default/files/styles/event_landing/public/2023-07/blackpink_0.jpeg?itok=wDkarsc9", alt="hi", )
                    span.info
                        span.date 22 Jul 2023 - 23 Jul 2023
                        h5.title The Impression of Summer 2023

                div.event__item.col.col-lg-3.col-md-4.col-sm-6
                    img(src="https://vietnam.travel/sites/default/files/styles/event_landing/public/2023-07/blackpink_0.jpeg?itok=wDkarsc9", alt="hi", )
                    span.info
                        span.date 02 Jul 2023 - 06 Jul 2023
                        h5.title Vietnam Tourism Promotion Programme in Japan

                div.event__item.col.col-lg-3.col-md-4.col-sm-6
                    img(src="https://vietnam.travel/sites/default/files/styles/event_landing/public/2023-06/diff2_0.jpg?itok=UhycgZS7", alt="hi", )
                    span.info
                        span.date 03 Jun 2023 - 08 Jul 2023
                        h5.title Danang International Fireworks Festival
    section.contained--children.list-news 
        div.list-button.d-flex.align-items-center.flex-row.justify-content-center
            button.btn__main.btn--s.all(onclick="change('all', this)") all 
            button.btn__main.btn--s.explore(onclick="change('explore', this)") explore
            button.btn__main.btn--s.relax(onclick="change('relax', this)") relax
            button.btn__main.btn--s.play(onclick="change('play', this)") play
        div.container 
            div.row.justify-content-md-center.justify-content-sm-center
                .col.col-lg-6.col-md-12.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/blackpink_1.jpeg?itok=HV9xF9hW", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Are you ready to rock with Born Pink in Hanoi?
                .col.col-lg-3.col-md-6.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/charlie%20puth_1.jpg?itok=nRF0i2m4", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Up all night with Charlie Puth and 8Wonder Music Fest
                .col.col-lg-3.col-md-6.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/z4523093428626_adbc13b9ec9669238837556478b8d088_1.jpg?itok=YFi60blt", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Beautiful train route to the paradise of typical cuisine in Hai Phong
            div.row.justify-content-md-center.justify-content-sm-center
                .col.col-lg-6.col-md-12.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/J7401628_1.jpg?itok=A9YSp28w", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Enjoy bus rides back and forth between T1 and T2 Noi Bai International Airport free of charge!
                .col.col-lg-6.col-md-12.col-sm-12
                    .news__item
                        a(href="http://") 
                            img(src="https://vietnam.travel/sites/default/files/styles/large/public/2023-07/BORNPINK_WORLD-TOUR_HANOI_WEB%20%281%29_1.jpg?itok=NpEkPl3z", alt="Blackpink", )
                            a.news__item__des(href="http://") 
                                h6.type luxury 
                                p.title Blackpink set to rock in Hanoi this July
                        