doctype html
html
  head
  link(rel="stylesheet", href="./css/normalize_8-0-1.css")
  link(rel="stylesheet", href="./css/main.css")
  link(rel="stylesheet", href="./css/style.css")
  //- style header
  link(rel="stylesheet", href="./css/header.css")
  //- bootstrap 
  link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
  //- link font icon 
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
  body
    include ./layouts/header.pug
    p.hello hello Pug, you're a joke to me

    //- js bootstrap
    script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js') 